.album-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.album-list img {
  width: 100%;
  max-width: 100%;
  display: block;
  border-radius: .5rem;
}

.album {
  display: flex;
  align-items: start;
  margin-bottom: 2rem;
}

.album-side {
  width: 12rem;
  margin-right: 1rem;
  position: sticky;
  top: 4rem;
  height: auto;
}

.album-content {
  flex: 1 1 auto;
}

.album-title {
  margin-top: 0;
  margin-bottom: .25rem;
}

.track-list {
  list-style: none;
  margin: 0;
  padding: 0;
  border-radius: .5rem;
  overflow: hidden;
  border: 1px solid var(--border-color);
}

.track-featuring {
  font-size: .90rem;
  color: var(--secondary-foreground);
}

.track-list>.track {
  padding: .5rem 1rem;
  display: flex;
}

.track, .track-featuring {
  transition: color 250ms, background-color 250ms;
}

.track-list>.track:nth-child(even) {
  background-color: var(--background-accent);
}

.track-list>.track:hover {
  background-color: var(--primary);
}

.track-list>.track:hover, .track-list>.track:hover .track-featuring {
  color: var(--primary-foreground) !important;
}

.track-title {
  flex: 1 1 auto;
}

.album-actions {
  margin-bottom: 1rem;
}

.album-info {
  list-style: disc;
  margin: 0;
  padding-left: 1rem;
  margin-top: .5rem;
}