.form-group {
  margin-bottom: 1rem;
}

label, input, textarea {
  display: block;
  width: 100%;
}

input, textarea {
  border: 1px solid var(--border-color);
  border-radius: .5rem;
  padding: .5rem;
}

label {
  margin-bottom: .5rem;
}

.form {
  max-width: 20rem;
  margin-inline: auto;
}

.form-actions {
  display: flex;
  gap: .5rem;
  justify-content: end;
}